body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(238, 235, 231);

}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 80px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: red;
}

.home {
    margin-left: 12%;
    margin-top: 7%;
}

.home h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: rgb(165, 88, 188);

}

.home p {
    color: #736d6d;
    font-weight: bold;
    font-size: medium;
    line-height: 22px;

}

.home a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 90%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .my1 {
    bottom: 100px;
}

.images:hover .my {
    left: 80%;
}